1. Menjalankan sintaks dasar python
2. Mengenal variabel dan menggunakan variabel
3. Jenis-jenis tipe data dalam python
4. Jenis-jenis operator
5. operator aritmetika, assignment, perbandingan, serta logika 
6. Memahami algoritma dari statement kondisi
7. Dapat menggunakan statement kondisi dalam kasus pemrograman

## Hello World !

In [0]:
print("Hello World")

Hello World

### Variabel 
Variabel adalah tempat menyimpan nilai sementara. Berikut adalah cara mendeklarasikan, menginisialisasi **variabel** dan *memanggil* variabel dalam python:

* Point pertama
* Point kedua
* Point ketiga

In [1]:
nama = "Muhammad Sholihul Huda"

print(nama)

Muhammad Sholihul Huda

Nilai dalam variabel dapat diubah sewaktu waktu

In [2]:
nama = "Muhammad Sholihul"
nama = "Huda"

print(nama)

Huda

Kita juga bisa memberikan beberapa nilai pada variabel secara langsung

In [3]:
a, b, c = 5, 3.2, "Hello"

print (a)
print (b)
print (c)

5
3.2
Hello

In [4]:
x = y = z = "podo"

print (x)
print (y)
print (z)

podo
podo
podo

## TIPE DATA
Dalam setiap nilai di variabel, terdapat sebuah tipe data tertentu. Pada python, terdapat beberapa tipe data:

- Numbers
- Strings
- Boolean
- List
- Tuple
- Set
- Dictionary

### Numbers
- Integer : Angka tanpa koma
- Float : Angka dengan Koma

In [5]:
a = 5
print(a, "mempunyai tipe", type(a))

a = 5.0
print(a, "mempunyai tipe", type(a))

(5, 'mempunyai tipe', <type 'int'>)
(5.0, 'mempunyai tipe', <type 'float'>)

### Boolean
Benar atau Salah?

In [6]:
a = 5>6
print(a, "mempunyai tipe", type(a))

a = 6>5
print(a, "mempunyai tipe", type(a))

(False, 'mempunyai tipe', <type 'bool'>)
(True, 'mempunyai tipe', <type 'bool'>)

### String
Kumpulan karakter

In [7]:
a = "Ini adalah sebuah string"
print(a, "mempunyai tipe", type(a))

('Ini adalah sebuah string', 'mempunyai tipe', <type 'str'>)

### List & Tuple & Dictionary
dibahas minggu depan

## Operator

### 1. Operator Aritmetika

| Operator | Arti                                                                                          | Contoh                  |
|----------|--------------------------------------------------------------------------------------------------|--------------------------|
| +        | Penambahan                                                                   | x + y                 |
| -        | Pengurangan                                              | x - y                  |
| *        | Perkalian                                                                            | x * y                    |
| /        | Pembagian                                 | x / y                    |
| %        | Modulo - Sisa Pembagian                                 | x % y (sisa pembagian of x/y) |
| //       | Pembagian dan dibulatkan ke bawah | x // y                   |
| **       | Eksponen - Pangkat                                             | x**y (x pangkat y)  |

In [8]:
x = 5
y = 4

print((x+y)*(x+y))

81

### 2. Operator Assignment
Pemberian Nilai, Updating Nilai

In [9]:
a = 5
b = 2
a = a + 6
print(a)
a = a * 5
print(a)
a = b + 3
print(a)

11
55
5

![alt text](https://www.freeiconspng.com/uploads/book-store-icon-31.png "Bookstore")

## LATIHAN


#### Pada keluaran buku terbaru, Harry Potter harga buku adalah Rp 100.000, tetapi toko buku mendapatkan diskon 40%. Pengiriman biaya Rp 9.000 untuk salinan pertama dan Rp 3.000 untuk setiap salinan tambahan. Berapa total biaya keseluruhan untuk pengiriman buku 60 eksemplar?

In [10]:
harga_buku = 500000
diskon = 20.0
ongkir_pertama = 9000
ongkir_selanjutnya = 3000
eksemplar = 10

harga_setelah_diskon = harga_buku * (100-diskon)/100
harga_ongkir = ongkir_pertama + ongkir_selanjutnya * (eksemplar-1)
harga_total = harga_setelah_diskon * eksemplar + harga_ongkir

print(harga_total)

4036000.0

### 3. Operator Perbandingan
| Operator | Meaning                 | Example |
|----------|-------------------------|---------|
| >        | Lebih Dari              | x > y   |
| <        | Kurang Dari             | x < y   |
| ==       | Sama Dengan             | x == y  |
| !=       | Tidak Sam Dengan        | x != y  |
| >=       | Lebih dari sama dengan  | x >= y  |
| <=       | Kurang dari sama dengan | x <= y  |

In [11]:
x = 10
y = 12

print('x > y  is',x>y)

print('x < y  is',x<y)

print('x == y is',x==y)

print('x != y is',x!=y)

print('x >= y is',x>=y)

print('x <= y is',x<=y)

('x > y  is', False)
('x < y  is', True)
('x == y is', False)
('x != y is', True)
('x >= y is', False)
('x <= y is', True)

### 4. Operator Logika

| Operator | Keterangan                         | Contoh  |
|----------|------------------------------------|---------|
| and      | True jika keduanya True            | x and y |
| or       | True jika salah satunya True       | x or y  |
| not      | not False = True; not True = False | not x   |

In [12]:
x = 5 == 5
y = 1 > 2


print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

('x and y is', False)
('x or y is', True)
('not x is', False)

# Statement Kondisi / Percabangan
Dalam pembuatan program, seringkali kita memiliki kondisi, jika..maka, contohnya: jika nilai hasil ujian > 90, maka calon peserta digital talent berhak mengikuti program beasiswa. Kondisi seperti ini dapat digambarkan dengan Flowchart seperti dibawah ini:

![alt text](https://cdn.programiz.com/sites/tutorial2program/files/Python_if_statement.jpg "If Statement")

Berikut adalah sintaks dari kode program kondisional / percabangan.
Perhatikan Indentasi yang ada pada sintaks tersebut.

In [13]:
nilai = 8 # Coba dirubah menjadi 80
if nilai>90:
    print("Lulus")
    print("Selamat")
    
print("Program Selesai")

Program Selesai

Dalam bahasa pemrograman Python, Indentasi sangatlah penting untuk menentukan blok kode sebuah program.

Selanjutnya, terdapat bentuk yang sedikit lebih kompleks, yaitu dengan menggunakan else:

![alt text](https://cdn.programiz.com/sites/tutorial2program/files/Python_if_else_statement.jpg "If Else Statement")

In [14]:
nilai = 80 
if nilai>90:
    print("Lulus")
    print("Selamat")
else:
    print("Maaf Anda Belum Berhasil")
    
print("Program Selesai")

Maaf Anda Belum Berhasil
Program Selesai

Jika terdapat lebih dari satu kondisi dapat menggunakan elif (else if):

![alt text](https://cdn.programiz.com/sites/tutorial2program/files/Python_if_elif_else_statement.jpg "If Else If Statement")

In [15]:
nilai = 85 
if nilai>=90:
    print("Lulus")
    print("Selamat")
elif nilai>80:
    print("Anda masuk ke waiting list")
else:
    print("Maaf Anda Belum Berhasil")
    
print("Program Selesai")

Anda masuk ke waiting list
Program Selesai

Percabangan juga bisa disarangkan pada percabangan, contoh:

In [16]:
nilai = 95
umur = 10

if nilai>90:
    if umur > 17:
        print("Selamat Anda Berhak Mengikuti Program Beasiswa")
    else:
        print("Maaf, Anda belum berhak mengikuti program beasiswa")
else:
    print("Maaf Anda Belum Berhasil")
    
print("Program Selesai")

Maaf, Anda belum berhak mengikuti program beasiswa
Program Selesai

![alt text](https://cdn.iconscout.com/icon/free/png-256/human-body-458026.png "Body")

## LATIHAN


Body Mass Index (BMI) menentukan sebuah keidealan berat badan terhadap tinggi badan. Berikut adalah formula dari BMI : BMI = weight (kg) ÷ height^2 (m^2)

Berikut adalah kategorisasi BMI

| BMI                 | Kategori BMI             |   |
|---------------------|---------------------------|---|
| Kurang dari 15        | Very severely underweight |   |
| Diantara 15 dan 16   | Severely underweight      |   |
| Diantara 16 dan 18.5 | Underweight               |   |
| Diantara 18.5 dan 25 | Normal (healthy weight)   |   |
| Diantara 25 dan 30   | Overweight                |   |
| Diantara 30 dan 35   | Moderately obese          |   |
| Diantara 35 dan 40   | Severely obese            |   |
| Over 40             | Very severely obese       |   |

Buatlah sebuah program yang memiliki dua variabel berat badan dengan satuan KG, dan tinggi badan dengan satuan CM, kemudian keluaran dari program adalah Kategori BMI